@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Bold.woff2"), url("../fonts/PTSans-Bold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Regular.woff2"), url("../fonts/PTSans-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

html {
  height: 100%;
}

.page-body {
  background-color: #E7E5E5;
  height: 100%;
}

.main-wrapper {
  flex: 1 1 auto;
}

.page-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0 auto;
  max-width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.page-container a {
  text-decoration: none;
  color: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  position: relative;
  z-index: 0;
}

@media (max-width: 767px) {
  .main-navigation {
    transition: all 0.2s ease-out;
    height: 223px;
    background-color: #74b4d7;
  }
}

@media (max-width: 767px) {
  .main-navigation--closed {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    visibility: hidden;
    transition: all 0.15s ease-out;
  }
}

.main-navigation__list {
  position: relative;
  height: 56px;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .main-navigation__list {
    z-index: 2;
    flex-direction: column;
    height: auto;
    align-items: center;
  }
}

.main-navigation__togle--open {
  width: 24px;
  height: 55px;
  cursor: pointer;
  position: absolute;
  left: 83%;
  top: 0px;
  z-index: 3;
  padding-right: 10px;
  padding-left: 10px;
}

@media (max-width: 767px) {
  .main-navigation__togle--open::after {
    position: absolute;
    bottom: 35px;
    content: "";
    width: 23px;
    height: 4px;
    background-color: #4487b2;
    box-shadow: 0 9px 0 0 #4487b2, 0 18px 0 0 #4487b2;
  }
  .main-navigation__togle--open:hover::after {
    opacity: 0.6;
  }
  .main-navigation__togle--open:active::after {
    opacity: 0.3;
  }
}

.main-navigation__togle--close {
  z-index: 3;
  cursor: pointer;
}

@media (max-width: 767px) {
  .main-navigation__togle--close {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding-top: 26px;
    padding-left: 10px;
    padding-right: 10px;
    left: 83%;
  }
  .main-navigation__togle--close::before, .main-navigation__togle--close::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 4px;
    background-color: white;
    transition: all 0.3s ease 0s;
  }
  .main-navigation__togle--close::before {
    transform: rotate(45deg);
  }
  .main-navigation__togle--close::after {
    transform: rotate(-45deg);
  }
  .main-navigation__togle--close:hover::after, .main-navigation__togle--close:hover::before {
    opacity: 0.6;
  }
  .main-navigation__togle--close:active::after, .main-navigation__togle--close:active::before {
    opacity: 0.3;
  }
}

.main-navigation__item {
  width: 100px;
  list-style: none;
  padding-top: 15px;
  text-align: center;
}

@media (max-width: 767px) {
  .main-navigation__item {
    line-height: 60px;
    padding: 0;
    height: 56px;
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.4), inset 0px 2px 0px rgba(255, 255, 255, 0.2);
    width: 100%;
  }
  .main-navigation__item:first-child {
    box-shadow: none;
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.4);
  }
  .main-navigation__item:last-child {
    box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.2);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: bottom;
  }
  .main-navigation__item:hover {
    background-color: #74b4d7;
  }
  .main-navigation__item:active {
    background-color: #4487b2;
  }
}

.main-navigation__item a {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.main-navigation__item a:focus {
  color: #186b9f;
}

.main-navigation__item a:hover {
  color: #4487b2;
}

.main-navigation__item a:active {
  color: black;
  opacity: 0.3;
}

@media (max-width: 767px) {
  .main-navigation__item a {
    padding: 13px 60px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
  }
  .main-navigation__item a:focus {
    color: white;
  }
  .main-navigation__item a:hover {
    color: white;
  }
  .main-navigation__item a:active {
    opacity: 0.3;
  }
}

@media (max-width: 320px) {
  .main-navigation__item a {
    padding: 0;
  }
}

.main-navigation-line {
  position: relative;
}

.main-navigation-line picture {
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .main-navigation-line picture {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-navigation-line {
    background-color: #fff;
    width: 100%;
    height: 56px;
  }
}

.main-navigation__item--logo {
  display: block;
  list-style: none;
  z-index: 2;
  padding-top: 0;
}

@media (max-width: 767px) {
  .main-navigation__item--logo {
    display: none;
  }
}

.intro-wrapper {
  position: relative;
  z-index: -1;
}

.intro {
  width: 100%;
  height: 518px;
  background-image: url("../img/back-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-resolution: 2dppx) {
  .intro {
    background-size: 1200px auto;
    background-image: url("../img/back-desktop-retina.jpg");
  }
}

@media (max-width: 767px) {
  .intro {
    background-image: url("../img/back-mobile.jpg");
  }
}

@media (max-width: 767px) and (min-resolution: 2dppx) {
  .intro {
    background-size: 768px auto;
    background-image: url("../img/back-mobile-retina.jpg");
  }
}

.intro__slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 519px;
  background-image: url("../img/intro-triangle.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.intro__slogan img {
  padding-top: 80px;
}

.title {
  margin: 0 auto;
  max-width: 490px;
}

.title__position {
  margin-top: 55px;
  margin-bottom: 45px;
  text-align: center;
}

@media (max-width: 767px) {
  .title__position {
    margin-top: 33.5px;
    margin-bottom: 17.5px;
    padding: 0 17px;
  }
}

.title__heading {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .title__heading {
    font-size: 18px;
  }
}

.title__heading--center {
  text-align: center;
  margin-top: 20px;
}

.title__content {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}

.featurse {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .featurse {
    display: block;
  }
}

.featurse__title {
  background-color: #81B3D2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  flex: calc(33.33% - 40px);
  padding: 0 20px;
}

@media (max-width: 767px) {
  .featurse__title {
    background-image: url("../img/main-content-triangle.svg");
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 5;
    padding: 0 17px 30px 17px;
  }
}

.featurse__title--position {
  background-image: none;
}

.title__heading__features {
  margin: 0;
  color: white;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

@media (max-width: 767px) {
  .title__heading__features {
    padding-top: 50px;
    font-size: 18px;
  }
}

.title__content__features {
  margin: 0;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

@media (max-width: 767px) {
  .title__content__features {
    padding-top: 14px;
  }
}

.featurse__image {
  background-image: url("../img/gergard.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 256px;
  flex: 66.6%;
}

@media (min-width: 321px) and (min-resolution: 2dppx) {
  .featurse__image {
    background-size: auto 256px;
    background-image: url("../img/gergard-retina.jpg");
  }
}

@media (max-width: 500px) {
  .featurse__image {
    background-image: url("../img/gergard-mobile.jpg");
    height: 260px;
  }
}

@media (max-width: 500px) and (min-resolution: 2dppx) {
  .featurse__image {
    background-image: url("../img/gergard-mobile-retina.jpg");
    background-size: auto 260px;
  }
}

.featurse__image--second {
  order: -1;
  background-image: url("../img/rossoshka.jpg");
}

@media (max-width: 500px) {
  .featurse__image--second {
    background-image: url("../img/rossoshka-mobile.jpg");
    height: 256px;
  }
}

@media (max-width: 500px) and (min-resolution: 2dppx) {
  .featurse__image--second {
    background-image: url("../img/rossoshka-mobile-retina.jpg");
    background-size: auto 260px;
  }
}

@media (min-width: 321px) and (min-resolution: 2dppx) {
  .featurse__image--second {
    background-size: auto 256px;
    background-image: url("../img/rossoshka-retina.jpg");
  }
}

.featurse__image--third {
  background-image: url("../img/mamaev.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 256px;
  flex: 66.6%;
}

@media (min-width: 321px) and (min-resolution: 2dppx) {
  .featurse__image--third {
    background-size: auto 256px;
    background-image: url("../img/mamaev-retina.jpg");
  }
}

@media (max-width: 500px) {
  .featurse__image--third {
    background-image: url("../img/mamaev-mobile.jpg");
    height: 256px;
  }
}

@media (max-width: 500px) and (min-resolution: 2dppx) {
  .featurse__image--third {
    background-image: url("../img/mamaev-mobile-retina.jpg");
    background-size: auto 260px;
  }
}

.our-features--wrapper {
  display: flex;
  justify-content: space-around;
  padding: 0 20px 0 20px;
  gap: 30px;
}

@media (max-width: 767px) {
  .our-features--wrapper {
    flex-direction: column;
    padding: 0 20px 20px 20px;
    gap: 10px;
  }
}

.our-features {
  width: 300px;
  height: auto;
  display: grid;
  grid-template: 75px 55px 1fr / 1fr;
  text-align: center;
  gap: 10px;
}

@media (max-width: 767px) {
  .our-features {
    width: 100%;
    height: auto;
    grid-template: 75px 0.5fr / 70px 4fr;
    align-items: center;
    text-align: left;
    gap: 10px;
  }
}

@media (max-width: 767px) {
  .our-features--position {
    order: 3;
  }
}

.title__heading--position {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 767px) {
  .title__heading--position {
    text-align: left;
    margin: auto 0;
    padding: 0;
  }
}

.title__heading--small {
  font-size: 16px;
}

@media (max-width: 767px) {
  .title__content--position {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 0;
  }
}

.articles-wrapper {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.article {
  max-width: 500px;
  background-color: rgba(116, 180, 215, 0.1);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 6px 1px rgba(24, 107, 159, 0.5);
}

.article:hover {
  box-shadow: 0 0 6px 4px rgba(24, 107, 159, 0.5);
}

.article-aside {
  background-color: rgba(116, 180, 215, 0.05);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 1px 1px rgba(24, 107, 159, 0.3);
  display: flex;
  padding: 0;
}

.article-aside p {
  margin: 10px 5px 10px 0;
}

.article-aside img {
  margin-right: 10px;
  margin-left: 5px;
}

.article__link {
  font-weight: 700;
  text-decoration: underline !important;
  color: #4487b2 !important;
  margin-top: auto;
}

.article__link:hover {
  color: #155780 !important;
  text-decoration: none !important;
}

.article__link:active {
  color: #124464 !important;
}

.article__img {
  border-radius: 15px;
}

.article__img--centr {
  display: block;
  margin: 0 auto;
}

.article__img--title {
  text-align: center;
  margin-top: 5px;
}

.article-text {
  padding: 0 50px;
  flex: 1 1 auto;
}

@media (max-width: 500px) {
  .article-text {
    padding: 0 20px;
  }
}

.article-text__info {
  text-transform: none;
}

.article-text__link {
  text-decoration: underline !important;
}

.excursion {
  display: flex;
  flex-direction: column;
}

.excursion__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.excursion__gallery--centr {
  justify-content: center;
}

.excursion__info {
  font-size: 14px;
  font-weight: 700;
}

.excursion__list,
.excursion__title {
  margin: 0;
}

.excursion__line {
  width: 100%;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px solid #333;
}

.social-bar {
  text-align: center;
}

.social-bar__icons {
  margin: 0 auto;
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.title__content--social {
  margin-top: 10px;
  padding: 0 20px;
}

.copyright {
  padding: 0 10px 0px 10px;
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  text-align: center;
}

@media (max-width: 500px) {
  .copyright {
    grid-template: 1fr 1fr 0.7fr / 1fr;
    gap: 10px;
  }
}

@media (max-width: 500px) {
  .copyright__logo {
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.copyright__title {
  margin: 0;
}

hr {
  border-bottom: 1px solid black;
}

.social {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  list-style-type: none;
  width: 300px;
  padding: 10px 20px 10px 20px;
  margin: 0 auto;
  border-radius: 30px;
}

.social__icon {
  height: 50px;
  width: 50px;
  transition: .4s;
  fill: #74b4d7;
}

.social__icon:hover {
  fill: #4487b2;
}

.social__icon:active {
  fill: #186b9f;
}

.fil-white {
  fill: white;
}

.fil-gray {
  fill: #bababa;
}

.fil-gray-light {
  fill: #e2e2e2;
}

.notification {
  text-transform: none;
  font-size: 12px;
}

a {
  text-decoration-skip-ink: none;
  text-decoration: underline;
}

.notification__position-centr {
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px;
}

.notification__position-centr a:hover {
  color: #4487b2;
}

@media (max-width: 700px) {
  .article__img {
    max-width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */