// Global
@import "_global";

// Header
@import "_header";

// Main-content
@import "_main";

//Footer
@import "_footer";

.notification {
    text-transform: none;
    font-size: 12px;
}

a {
    text-decoration-skip-ink: none;
    text-decoration: underline
}

.notification__position-centr {
    text-align: center;
    text-transform: uppercase;
    padding: 0 20px;

    a:hover {
        color: #4487b2;
    }
}

.article__img {
    @media (max-width:700px) {

        max-width: 100%;
        height: 100%;

    }
}