// Global
@import "global.scss";

// Header
@import "header.scss";

// Main-content
@import "main.scss";

//Footer
@import "footer.scss";

.notification {
    text-transform: none;
    font-size: 12px;
}

a {
    text-decoration-skip-ink: none;
    text-decoration: underline
}

.notification__position-centr {
    text-align: center;
    text-transform: uppercase;
    padding: 0 20px;

    a:hover {
        color: #4487b2;
    }


}