RewriteEngine On

RewriteBase / 

Options +FollowSymLinks

php_flag display_errors off

php_flag allow_url_fopen off

RewriteCond %{ENV:HTTPS} on

RewriteRule .* - [E=SSL:s]

RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]

RewriteRule ^(.*)$ http%{ENV:SSL}://%1/$1 [R=301,L]

RewriteCond %{ENV:HTTPS} !on

RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

ErrorDocument 404 /404.html

